################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerceHub/.vs/ECommerceHub/v17
/ECommerceHub/.vs/ECommerceHub/FileContentIndex
/ECommerceHub/Services/Catalog/Catalog.Api/obj
/ECommerceHub/Services/Catalog/Catalog.Application/obj
/ECommerceHub/Services/Catalog/Catalog.Core/obj
/ECommerceHub/Services/Catalog/Catalog.Infrastructure/obj
/ECommerceHub/.vs/ECommerceHub/DesignTimeBuild
/ECommerceHub/Services/Catalog/Catalog.Api/bin/Debug/net6.0
/ECommerceHub/Services/Catalog/Catalog.Application/bin/Debug/net6.0
/ECommerceHub/Services/Catalog/Catalog.Core/bin/Debug/net6.0
/ECommerceHub/Services/Catalog/Catalog.Infrastructure/bin/Debug/net6.0
/ECommerceHub/.vs/ECommerceHub/config
/ECommerceHub/obj/Docker
/ECommerceHub/bin/Debug
/ECommerceHub/obj/Debug
/ECommerceHub/Services/Basket/Basket.Api/bin/Debug/net6.0
/ECommerceHub/Services/Basket/Basket.Api/obj
/ECommerceHub/Services/Basket/Basket.Application/bin/Debug/net6.0
/ECommerceHub/Services/Basket/Basket.Application/obj
/ECommerceHub/Services/Basket/Basket.Core/bin/Debug/net6.0
/ECommerceHub/Services/Basket/Basket.Core/obj
/ECommerceHub/Services/Basket/Basket.Infrastructure/bin/Debug/net6.0
/ECommerceHub/Services/Basket/Basket.Infrastructure/obj
