################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerceHub/.vs/ECommerceHub/v17
/ECommerceHub/.vs/ECommerceHub/FileContentIndex
/ECommerceHub/Services/Catalog/Catalog.Api/obj
/ECommerceHub/Services/Catalog/Catalog.Application/obj
/ECommerceHub/Services/Catalog/Catalog.Core/obj
/ECommerceHub/Services/Catalog/Catalog.Infrastructure/obj
/ECommerceHub/.vs/ECommerceHub/DesignTimeBuild
/ECommerceHub/Services/Catalog/Catalog.Api/bin/Debug/net6.0
/ECommerceHub/Services/Catalog/Catalog.Application/bin/Debug/net6.0
/ECommerceHub/Services/Catalog/Catalog.Core/bin/Debug/net6.0
/ECommerceHub/Services/Catalog/Catalog.Infrastructure/bin/Debug/net6.0
/ECommerceHub/.vs/ECommerceHub/config
/ECommerceHub/obj/Docker
/ECommerceHub/bin/Debug
/ECommerceHub/obj/Debug
/ECommerceHub/Services/Basket/Basket.Api/bin/Debug/net6.0
/ECommerceHub/Services/Basket/Basket.Api/obj
/ECommerceHub/Services/Basket/Basket.Application/bin/Debug/net6.0
/ECommerceHub/Services/Basket/Basket.Application/obj
/ECommerceHub/Services/Basket/Basket.Core/bin/Debug/net6.0
/ECommerceHub/Services/Basket/Basket.Core/obj
/ECommerceHub/Services/Basket/Basket.Infrastructure/bin/Debug/net6.0
/ECommerceHub/Services/Basket/Basket.Infrastructure/obj
/ECommerceHub/Services/Discount/Discount.Api/bin/Debug/net6.0
/ECommerceHub/Services/Discount/Discount.Api/obj
/ECommerceHub/Services/Discount/Discount.Application/bin/Debug/net6.0
/ECommerceHub/Services/Discount/Discount.Application/obj
/ECommerceHub/Services/Discount/Discount.Core/bin/Debug/net6.0
/ECommerceHub/Services/Discount/Discount.Core/obj
/ECommerceHub/Services/Discount/Discount.Infrastructure/bin/Debug/net6.0
/ECommerceHub/Services/Discount/Discount.Infrastructure/obj
/ECommerceHub/Services/Discount/Discount.Shared/bin/Debug/net6.0
/ECommerceHub/Services/Discount/Discount.Shared/obj
/ECommerceHub/Services/Ordering/Ordering.Api/bin/Debug/net6.0
/ECommerceHub/Services/Ordering/Ordering.Api/obj
/ECommerceHub/Services/Ordering/Ordering.Application/obj
/ECommerceHub/Services/Ordering/Ordering.Core/obj
/ECommerceHub/Services/Ordering/Ordering.Infrastructure/obj
/ECommerceHub/Services/Ordering/Ordering.Application/bin/Debug/net6.0
/ECommerceHub/Services/Ordering/Ordering.Core/bin/Debug/net6.0
/ECommerceHub/Services/Ordering/Ordering.Infrastructure/bin/Debug/net6.0
/ECommerceHub/Infrastructure/EventBus.Messages/obj/Debug/net6.0
/ECommerceHub/Infrastructure/EventBus.Messages/obj
/ECommerceHub/Infrastructure/EventBus.Messages/bin/Debug/net6.0
/ECommerceHub/ApiGateways/Ocelot.Api/bin/Debug/net6.0
/ECommerceHub/ApiGateways/Ocelot.Api/obj
/ECommerceHub/Infrastructure/ECcommerceHub.Identity/obj
/ECommerceHub/Infrastructure/ECcommerceHub.Identity
/ECommerceHub/Infrastructure/Common.Logging/Common.Logging/obj
/ECommerceHub/Infrastructure/Common.Logging/Common.Logging/bin/Debug/net6.0
/.vs
